<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMD_APU_Tuning_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AMD_APU_Tuning_Utility.Properties.Settings>
            <setting name="topBar1" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="topBar2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topBar3" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="sideBar1" serializeAs="String">
                <value>155</value>
            </setting>
            <setting name="sideBar2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sideBar3" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="useDefaultTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RyzenADJ" serializeAs="String">
                <value />
            </setting>
            <setting name="useGPUSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUTDP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LongBoostTDP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LongBoostDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShortBoostTDP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShortBoostDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MemMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MemMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VRM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VRMMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPUMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPUMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoCMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoCMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VCNMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VCNMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Discord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Boot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoApply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Import" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Series" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUTurbo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkinTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkinTempC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb1h" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Internet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="perf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="power" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Args" serializeAs="String">
                <value />
            </setting>
            <setting name="AC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPU1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPU2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CPU3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU4" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CPU5" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="CPU6" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="CPU7" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="CPU8" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="GPU1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPU2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GPU3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GPU4" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GPU5" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="GPU6" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="GPU7" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="GPU8" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="APUName" serializeAs="String">
                <value />
            </setting>
            <setting name="coreClock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="memClock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aatuVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="apTemp" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="apTDP" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="apGPU" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="apCPU" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="coGFX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="coGFXMag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="coALL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="coALLMag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hidePremade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cpuOC" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="cpuVID" serializeAs="String">
                <value>1250</value>
            </setting>
        </AMD_APU_Tuning_Utility.Properties.Settings>
    </userSettings>
	<system.windows.forms jitDebugging="true" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.46" newVersion="19.2460.0.46" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
