<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMD_APU_Tuing_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AMD_APU_Tuing_Utility.Properties.Settings.presetsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\presets.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="AMD_APU_Tuing_Utility.Properties.Settings.AATUPresetsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AATUPresets.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AMD_APU_Tuing_Utility.Properties.Settings>
            <setting name="Temp" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="STAPM" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BoostDuration" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="BoostTDP" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ShortDuration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShortTDP" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinMem" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MaxMem" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="VRM" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Custom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RyzenADJ" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplyLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetName" serializeAs="String">
                <value />
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoApply" serializeAs="String">
                <value>False</value>
            </setting>
        </AMD_APU_Tuing_Utility.Properties.Settings>
    </userSettings>
</configuration>